<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a
        class="navbar-brand mt-2 mt-lg-0"
        routerLink="/"
        routerLinkActive="active"
      >
        <img
          src="https://www.culture-feria.com/image/cache/catalog/Logo/Logo-culture-feria-XL-2166x1181.png"
          height="50"
          alt="MDB Logo"
          loading="lazy"
        />
      </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/products"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >Products</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/ferias"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >Ferias</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/admin"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Admin</a
          >
        </li>
      </ul>
    </div>
    <button
      routerLink="/command"
      class="btn btn-success justify-content-end btn me-3"
    >
      <i class="fa fa-cubes"></i>
      <span class="badge badge-light">{{ commandCount$ | async }}</span>
    </button>
    <button
      class="justify-content-end btn btn-dark me-3"
      (click)="toggleCart()"
    >
      <i class="fa fa-shopping-cart"></i>
      <span class="badge badge-pill badge-secondary text-white">{{
        cartProductCount
      }}</span>
    </button>
  </div>
</nav>
