<div class="col-12">
  <div class="topnav sticky-top" id="myTopnav">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Admin</a>
    <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact</a>
    <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</a>
    <button type="button" class="nav-link btn btn-primary" routerLink="/cart" routerLinkActive="active">
      Cart
      <span class="badge badge-light">{{ cartProductCount }}</span>
    </button>
  </div>
</div>


