<section class="row container bloc-activity">
  <div class="col-lg-3 col-sm-6 card-container">
    <div class="card-content">
      <div class="opacity-card"></div>
      <span>Title card</span>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 card-container">
    <div class="card-content">
      <div class="opacity-card"></div>
      <span>Title card</span>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 card-container">
    <div class="card-content">
      <div class="opacity-card"></div>
      <span>Title card</span>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 card-container">
    <div class="card-content">
      <div class="opacity-card"></div>
      <span>Title card</span>
    </div>
  </div>
</section>
