<section class="row container bloc-activity">
  <div class="col-lg-3 col-sm-6 card-container">
    <div id="bayonne" class="card-content">
      <div class="opacity-card"></div>
      <a [href]="">Bayonne</a>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 card-container">
    <div id="montdemarsan" class="card-content">
      <div class="opacity-card"></div>
      <a href="">Mont de Marsan</a>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 card-container">
    <div id="pampelune" class="card-content">
      <div class="opacity-card"></div>
      <a href="">Pampelune</a>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 card-container">
    <div id="dax" class="card-content">
      <div class="opacity-card"></div>
      <a href="">Dax</a>
    </div>
  </div>
</section>
