<div class="cart-sidebar"
  [@slideInOut]="cartService.isVisible ? 'in' : 'out'"
  [style.display]="cartService.isVisible ? 'block' : 'none'"
>
  <div *ngIf="cartProducts$.length === 0" class="text-center my-5">
    <h4>Your cart is empty</h4>
  </div>

  <div *ngIf="cartProducts$.length > 0">
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Subtotal</th>
          <th scope="col">Remove Product</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let Product of cartProducts$">
          <td>{{ Product.name }}</td>
          <td>{{ Product.price | currency }}</td>
          <td>{{ Product.quantity }}</td>
          <td>{{ Product.price * Product.quantity | currency }}</td>
          <td>
            <button class="btn btn-danger" (click)="removeProduct(Product.id)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td colspan="3">Total</td>
          <td>{{ getTotal() | currency }}</td>
          <td>
            <button class="btn btn-danger" (click)="clearCart()">Clear Cart</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
