.homepage{
  position: relative;
  height: 80vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  background-image: url("/assets/Images/fetebayonne.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.homepage .homepage_infos{
  width: 0%;
  height: 100%;
  background-color: rgba(211, 0, 0, 0.9);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s linear;
}

.homepage:hover .homepage_infos{
  width: 25%;
}

.homepage:hover .homepage_infos:after{
  animation: none;
}

.homepage:hover h1, .homepage:hover h2{
  display: block;
}

.homepage h1{
  text-shadow: 1px 1px 1px #000000;
  color: antiquewhite;
  font-weight: 800;
  text-transform: uppercase;
  display: none;
  transition: all 0.3s linear;
}

.homepage h2{
  padding-left: 10vh;
  display: none;
  transition: all 0.3s linear;
}

.homepage .homepage_infos:after{
  content: '';
  position: absolute;
  right: -20vh;
  top: 0;
  height: 100%;
  width: 20vh;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: rgba(211, 0, 0, 0.9);
  animation: bounce-left 5s both infinite;
}


@keyframes bounce-left {
  0%{
    width: 20vh;
    right: -20vh;
  }

  40%{
    width: 32vh;
    right: -32vh;
  }

  60%{
    width: 32vh;
    right: -32vh;
  }

  100%{
    width: 20vh;
    right: -20vh;
  }
}

@media screen and (max-width: 992px){
  .homepage .homepage_infos{
    width: 45%;
  }

  .homepage:hover .homepage_infos{
    width: 45%;
  }

  .homepage h1{
    padding-left: 0;
    display: block;
  }

  .homepage h2{
    padding-left: 0;
    display: block;
  }

  .homepage .homepage_infos:after{
    animation: none;
  }
}

@media screen and (max-width: 520px){
  .homepage .homepage_infos{
    width: 50%;
  }

  .homepage:hover .homepage_infos{
    width: 50%;
  }
}
