<section class="row container-fluid products-home">
  <div class="row col-md-3 col-sm-12 categorie-shop-home">
    <div class="col-12 category-title">
      <h3>Catégories</h3>
    </div>
    <div class="col-md-12 col-sm-6 category-item">
      <span>Tee-shirts</span>
    </div>
    <div class="col-md-12 col-sm-6 category-item">
      <span>Chaussettes</span>
    </div>
    <div class="col-md-12 col-sm-6 category-item">
      <span>Accessoires</span>
    </div>
    <div class="col-md-12 col-sm-6 category-item">
      <span>Gobelets</span>
    </div>
  </div>
  <div class="row col-md-9 col-sm-12 products-shop-home">
    <div class="col-xl-3 col-lg-4 col-sm-6 item-shop">
      <img src="" alt="" />
      <h4>Name product</h4>
      <p>Product description</p>
      <button class="btn-item">Add +</button>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6 item-shop">
      <img src="" alt="" />
      <h4>Name product</h4>
      <p>Product description</p>
      <button class="btn-item">Add +</button>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6 item-shop">
      <img src="" alt="" />
      <h4>Name product</h4>
      <p>Product description</p>
      <button class="btn-item">Add +</button>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6 item-shop">
      <img src="" alt="" />
      <h4>Name product</h4>
      <p>Product description</p>
      <button class="btn-item">Add +</button>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6 item-shop">
      <img src="" alt="" />
      <h4>Name product</h4>
      <p>Product description</p>
      <button class="btn-item">Add +</button>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6 item-shop">
      <img src="" alt="" />
      <h4>Name product</h4>
      <p>Product description</p>
      <button class="btn-item">Add +</button>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6 item-shop">
      <img src="" alt="" />
      <h4>Name product</h4>
      <p>Product description</p>
      <button class="btn-item">Add +</button>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6 item-shop">
      <img src="" alt="" />
      <h4>Name product</h4>
      <p>Product description</p>
      <button class="btn-item">Add +</button>
    </div>
  </div>
</section>
