<section class="container-fluid ferias-container">
  <div class="col-12 title-ferias">
    <h1>Les Ferias</h1>
    <span>En connaitre plus sur les fêtes dont les produits font références</span>
    <div class="ferias-line"></div>
  </div>
  <div class="row ferias-content">
    <div class="col-lg-5 col-md-12 order-md-1 bayonne-iframe">
      <div class="bayonne-img-container">
        <a class="img-link" href="https://fetes.bayonne.fr/">
          <div id="bar1" class="bar-img-link"></div>
          <div id="bar2" class="bar-img-link"></div>
          <div class="button-content-img">
            <a href="https://fetes.bayonne.fr/" class="btn-img">En savoir +</a>
          </div>
          <img [src]="imgBayonne" alt="">
        </a>
      </div>
    </div>
    <div class="col-lg-7 col-md-12 order-md-2 bayonne-txt">
      <h2>Bayonne</h2>
      <div class="ferias-txt-content">
        <p>Célébrées dans le sud de la France depuis 1932, les Fêtes de Bayonne rassemblent chaque année plus d’1
          million
          de personnes dans les rues de la sous-préfecture des Pyrénées-Atlantiques.
          Cinq jours durant, toute la ville se pare de rouge et blanc pour participer aux nombreuses animations prévues
          :
          défilés, courses, concerts… Découvrez tout ce qu’il y a à savoir sur la plus grande fête de France !</p>
      </div>
      <a href="#" class="btn-more-product">Leurs produits</a>
    </div>
  </div>
  <div class="row ferias-content">
    <div class="col-lg-7 col-md-12 order-md-2 bayonne-txt">
      <h2>Mont de Marsan</h2>
      <div class="ferias-txt-content">
        <p>Les fêtes de la Madeleine sont une période de réjouissances collectives. Elles sont organisées chaque année
          au
          mois de juillet par la Régie Municipale des Fêtes et Animations pour le compte de la Ville de Mont-de-Marsan.

          Mêlant aux réjouissances populaires les spectacles de tauromachie espagnole et landaise, identité gasconne et
          emprunts à l'Espagne, ces jours de liesse transforment littéralement le visage de la ville, qui devient en
          l'espace d'une semaine le théâtre de multiples manifestations musicales, folkloriques ou sportives. Les rues
          sont envahies par une foule compacte d'autochtones et de visiteurs, le paroxysme de la fréquentation étant
          atteint les soirs de weekend.

          Contrairement à d'autres feriasn 1 du sud-ouest de la France telles que les fêtes de Bayonne ou les fêtes de
          Dax, où dominent les tenues blanches rehaussées de rouge, en référence aux fêtes de San Fermín, à Pampelune,
          les
          fêtes de la Madeleine sont placées sous les couleurs du blason de Mont-de-Marsan, le bleu et le blanc.</p>
      </div>
      <a href="#" class="btn-more-product">Leurs produits</a>
    </div>
    <div class="col-lg-5 order-lg-2 col-md-12 order-md-1 bayonne-iframe">
      <div class="bayonne-img-container">
        <a class="img-link" href="www.fetesmadeleine.fr">
          <div id="bar1" class="bar-img-link"></div>
          <div id="bar2" class="bar-img-link"></div>
          <div id="montde" class="button-content-img">
            <a href="www.fetesmadeleine.fr" class="btn-img">En savoir +</a>
          </div>
          <img [src]="imgMontde" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="row ferias-content">
    <div class="col-lg-5 col-md-12 order-md-1 bayonne-iframe">
      <div class="bayonne-img-container">
        <a class="img-link" href="https://www.pamplona.es/fr/">
          <div id="bar1" class="bar-img-link"></div>
          <div id="bar2" class="bar-img-link"></div>
          <div class="button-content-img">
            <a href="https://www.pamplona.es/fr/" class="btn-img">En savoir +</a>
          </div>
          <img [src]="imgPampelune" alt="">
        </a>
      </div>
    </div>
    <div class="col-lg-7 col-md-12 order-md-2 bayonne-txt">
      <h2>Pampelune</h2>
      <div class="ferias-txt-content">
        <p>Les fêtes de San Fermín, Sanfermines ou fêtes de saint Firmin sont les fêtes célébrées annuellement du 6 au
          14 juillet, à Pampelune, capitale de la Navarre (Espagne), en l’honneur du juge de la communauté forale,
          Firmin d'Amiens. Il est de coutume de considérer ces fêtes comme les troisièmes du monde, en nombre de
          participants, après le carnaval de Rio et la fête de la bière à Munich. On estime à 3 millions le nombre de
          personnes qui peuplent les rues de la ville pendant huit jours.

          Ces fêtes multicolores transforment littéralement le visage de la capitale navarraise, qui devient le théâtre
          d'un spectacle populaire mêlant le profane au sacré. À cette occasion, les habitants revêtent la tenue
          blanche, rehaussée d'un foulard et d'une ceinture rouge.</p>
      </div>
      <a href="#" class="btn-more-product">Leurs produits</a>
    </div>
  </div>
  <div class="row ferias-content">
    <div class="col-lg-7 col-md-12 order-md-2 bayonne-txt">
      <h2>Dax</h2>
      <div class="ferias-txt-content">
        <p>Les Fêtes de Dax sont les cinq jours de festivités organisées annuellement dans la ville française de Dax,
          dans les Landes. Ces fêtes patronales se tiennent traditionnellement autour du 15 août et sont présentes dans
          le répertoire du patrimoine culturel immatériel français1.

          Mêlant aux réjouissances populaires les spectacles de tauromachies espagnole et landaise, identité gasconne et
          emprunts à l'Espagne, ces jours de liesse transforment littéralement le visage de la cité thermale, qui
          devient en l'espace d'une semaine le théâtre de multiples manifestations musicales, folkloriques ou sportives.
          Les rues sont envahies par une foule compacte d'autochtones et de visiteurs, le paroxysme de la fréquentation
          étant atteint les soirs de week-end. La ville reçoit en moyenne, selon les estimations et les années, entre
          500 000 personnes[réf. nécessaire] et 800 0002 sur la totalité des fêtes.

          Pour l'occasion, la coutume est de revêtir les habits blancs rehaussés d'un foulard et d'une ceinture rouge ;
          cette pratique est inspirée des célèbres Fêtes de San Fermín, à Pampelune, en Navarre.</p>
      </div>
      <a href="#" class="btn-more-product">Leurs produits</a>
    </div>
    <div class="col-lg-5 order-lg-2 col-md-12 order-md-1 bayonne-iframe">
      <div class="bayonne-img-container">
        <a class="img-link" href="https://www.daxlaferia.fr/">
          <div id="bar1" class="bar-img-link"></div>
          <div id="bar2" class="bar-img-link"></div>
          <div class="button-content-img">
            <a href="https://www.daxlaferia.fr/" class="btn-img">En savoir +</a>
          </div>
          <img [src]="imgDax" alt="">
        </a>
      </div>
    </div>
  </div>
</section>

<script>
  const myHeading = document.getElementsByTagName('h1');
  const charCount = myHeading.textContent.length;
  console.log(`Le nombre de caractères dans le titre est de ${charCount}`);
</script>
